/*Offset for the page*/
body
{
padding-top : 50px;
overflow-x: hidden;
}

[class*="col-"], footer {
  /*background-color: lightblue;*/
  /*border-left: 2px solid black;*/
  /*border-right: 2px solid black;*/*/
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
  /*margin-right : 2px;*/
  /*margin-left : 2px;*/
}

/*Menu flottant*/
.navbar
{
  font-family: 'Lato', arial, serif !important ;
  font-size: 15px;
}


/* Espace de 10px*/
.indent{
   padding-left: 10px;
}

/*Common paragraphs*/
p
{
  font-family: arial, serif;
  font-size: 17px;
  text-align: left;
}

/* color links */
a:hover
{
  color: green !important;
  text-decoration: none !important;
}


.row
{
  margin : 0px;
}

.actif
{
  color: lightgrey;
  border-bottom: 3px green solid;
}

/* Bandeau */
.bandeau
{
  margin-bottom: 0px;
}

.img_bandeau
{
  margin-left: 0px;
  margin-right: 0px;
  padding : 0px;
  text-align : center;
  display : block;
  font-size: 100%;
  width: 100%;
  max-height: 10%;
}

/* Horizontal lign*/
.titre_info
{
 text-align : left;
 padding-bottom: 5px;
 border-bottom:solid 1px;
 border-color: #EEEEEE;
}


/* Titles*/
h3
{
  font-family: 'Barlow', arial, serif !important ;
  text-align : left;
}

/* Footer */
footer
{
  border-top: solid lightgrey 1px;
  padding-top: 10px;
  padding-bottom: 50px;
}

/*Transition for links and buttons*/
a
{
  -webkit-transition: all 0.3s ease-out; /*compatibilité chrome*/
  -moz-transition: all 0.3s ease-out; /*compatibilité firefox*/
  -o-transition: all 0.3s ease-out; /*compatibilité opéra*/
  transition: all 0.3s ease-out; /* Autre navigateur */
  text-decoration: none !important;

}

button
{
  -webkit-transition: all 0.3s ease-out; /*compatibilité chrome*/
  -moz-transition: all 0.3s ease-out; /*compatibilité firefox*/
  -o-transition: all 0.3s ease-out; /*compatibilité opéra*/
  transition: all 0.3s ease-out; /* Autre navigateur */
}
